<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Issues from Repo</title>
</head>
<body>
<h1>Real-Time GitHub Issues</h1>
<!-- Issues part -->
{{{body}}}

<!-- Notifications part -->
<div>
    <h3>Notifications</h3>
    <ul id="notification_ul">

    </ul>
</div>

<script src='/socket.io/socket.io.js'></script>
<script>
    let socket = io.connect();

    socket.on('issue webhook', function (data) {
        console.log('issue');
        //TODO: make the html for the data received, update the existing issues html
        createNotification(data, 'issue');
        let jsonObj = data;
        console.log(jsonObj);
    });

    socket.on('comment webhook', function (data) {
        console.log('notification');
        //TODO: make the html for the data received, update the existing issues html
        createNotification(data, 'comment');

    });

    function createNotification(notification, typeOfAction) {
        let ul = document.getElementById('notification_ul');

        let text = document.createTextNode('Action: ' + notification.action + ' ' + typeOfAction + '<br/>'
                                            + 'Title: ' + notification.title + '%0D%0A'
                                            + 'User: ' + notification.user + '%0D%0A'
                                            + 'Text: ' + notification.text + '%0D%0A');

        let  li = document.createElement('li').innerText(text);
        ul.appendChild(li);
    }

</script>

</body>
</html>