<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Issues from Repo</title>
</head>
<body>
<h1>Real-Time GitHub Issues</h1>
<!-- Issues part -->
{{{body}}}

<!-- Notifications part -->
<div id="notification_div">
    <h3>Notifications</h3>
    <ul>

    </ul>
</div>

<script src='/socket.io/socket.io.js'></script>
<script>
    let socket = io.connect();

    socket.on('issue webhook', function (data) {
        console.log('issue');
        //TODO: make the html for the data received, update the existing issues html
        createNotification(data, 'issue');
        let jsonObj = data;
        console.log(jsonObj);
    });

    socket.on('comment webhook', function (data) {
        console.log('notification');
        //TODO: make the html for the data received, update the existing issues html
        createNotification(data, 'comment');

        console.log(jsonObj);
    });

    function createNotification(notification, typeOfAction) {
        let ul = document.getElementById('notification_div').firstElementChild;

        let br = document.createElement('br'),
                text = document.createTextNode('Action: ' + notification.action + typeOfAction + br
                                            + 'Title: ' + notification.title + br
                                            + 'User: ' + notification.user + br
                                            + 'Text: ' + notification.text + br);

        let  li = document.createElement('li').appendChild(text);
        ul.appendChild(li);
    }

</script>

</body>
</html>