#main_div {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.issue {
    display:flex;
    flex-direction:column;
}

.notification {
    display:flex;
    flex-direction:column;
}

li {
    list-style-position:inside;
    border: 1px red;

}